{% extends "index.html" %} {% block title %}DAY 2{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Day 2</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>


<body>
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1 : Pull Ups</h2>
                <a>3 SETS (8, 10 REPS) 120 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Exhale while pulling yourself up so your chin is level with the bar. Pause at the top.</h1>
                      <h1 class="exerciseSteps">2. Lower yourself (inhaling as you go down) until your elbows are straight.</h1>
                      <h1 class="exerciseSteps">3. Repeat the movement without touching the floor.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2 : Lat Pulldown</h2>
                <a>3 SETS (8, 10 REPS) 120 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Grasp the bar with a wide grip, looking forward with your torso upright.</h1>
                      <h1 class="exerciseSteps">2. Retract your shoulder blades and pull the bar down in front of you to your upper chest.</h1>
                      <h1 class="exerciseSteps">3. Squeeze your lats at the bottom of the move. Resist the temptation to lean back to aid the movement.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 3 : Bent Over Row</h2>
                <a>3 SETS (8, 10 REPS) 120 SECONDS REST</a>
                    <cite class="separator"></cite>
                        <h1 class="exerciseSteps">1. Grab a set of dumbbells or barbell, bend your torso forward and keep your knees slightly bent.</h1>
                        <h1 class="exerciseSteps">2. Pull the dumbbells toward your waistline, while squeezing your shoulder blades</h1>
                        <h1 class="exerciseSteps">3. Slowly lower the weights to the starting position. A 1-second pull, 1-second pause, 2 second down count is ideal.</h1>
                        <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                    <cite class="separator"></cite>
                <h2>Exercise 4 : Lever Reverse T-Bar Row</h2>
                <a>3 SETS (8, 10 REPS) 120 SECONDS REST</a>
                    <cite class="separator"></cite>
                        <h1 class="exerciseSteps">1. Load the T-bar machine with weight plates.</h1>
                        <h1 class="exerciseSteps">2. Lie prone on the pad and grasp the handles.</h1>
                        <h1 class="exerciseSteps">3. Brace your core and pull the T-bar toward your chest. Keep your upper body stable throughout the movement.</h1>
                        <h1 class="exerciseSteps">4. Squeeze your shoulder blades and keep your elbows close to your sides. Your upper back muscles and shoulder blades should be fully contracted at the top of the movement.</h1>
                        <h1 class="exerciseSteps">5. Hold for a second and then slowly lower the weight back.</h1>
                        <h1 class="exerciseSteps">6. Repeat for reps.</h1>
                    <cite class="separator"></cite>
                <h2>Exercise 5 : Barbell Curl</h2>
                <a>3 SETS (8, 10 REPS) 120 SECONDS REST</a>
                    <cite class="separator"></cite>
                        <h1 class="exerciseSteps">1. Stand up straight while holding a barbell in a shoulder-width grip.</h1>
                        <h1 class="exerciseSteps">2. Contract your biceps to curl the weight forward. Your upper arms should remain stationary during this process.</h1>
                        <h1 class="exerciseSteps">3. Continue moving the barbell until the biceps are fully contracted and the bar is at shoulder height. Hold this position for a second and then squeeze your biceps.</h1>
                        <h1 class="exerciseSteps">4. Bring the barbell back to the starting position.</h1>
                        <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                    <cite class="separator"></cite>
                <h2>Exercise 6 : Barbell Dumbbell Curl</h2>
                <a>3 SETS (8, 10 REPS) 120 SECONDS REST</a>
                    <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Stand up straight while holding a barbell in a shoulder-width grip.</h1>
                    <h1 class="exerciseSteps">2. Contract your biceps to curl the weight forward. Your upper arms should remain stationary during this process.</h1>
                    <h1 class="exerciseSteps">3. Continue moving the barbell until the biceps are fully contracted and the bar is at shoulder height. Hold this position for a second and then squeeze your biceps.</h1>
                    <h1 class="exerciseSteps">4. Bring the barbell back to the starting position.</h1>
                    <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                    <cite class="separator"></cite>
            </div>
         
        </div>
    </div>
</body>



{% endblock %}
        