{% extends "base.html" %} {% block title %}5x5{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Day 5</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>

<body>
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1 : Squat</h2>
                <a>5 SETS (12, 10, 8, 6, 12 REPS) 60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Load a barbell on a rack at upper-chest height.</h1>
                    <h1 class="exerciseSteps">2. Step under the barbell so that it rests on the back of your shoulders, and grasp the bar at each side.</h1>
                    <h1 class="exerciseSteps">3. Dismount the barbell and step backward carefully. Your feet should be shoulder-width apart and pointing slightly outwards.</h1>
                    <h1 class="exerciseSteps">4. Inhale as you squat down by simultaneously pushing your butt backward and bending your knees forward. Keep your torso upright, and descend at least until your knees are bent at a 90-degree angle.</h1>
                    <h1 class="exerciseSteps">5. Exhale as you push your body back up to the starting position, driving through your heels and keeping your torso upright.</h1>
                    <h1 class="exerciseSteps">6. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2 : Deadlift</h2>
                <a>5 SETS (12, 10, 8, 6, 12 REPS) 60 SECONDS REST</a>
                    <cite class="separator"></cite>
                        <h1 class="exerciseSteps">1. Stand with your mid-foot under the barbell</h1>
                        <h1 class="exerciseSteps">2. Bend over and grab the bar with a shoulder-width grip</h1>
                        <h1 class="exerciseSteps">3. Bend your knees until your shins touch the bar</h1>
                        <h1 class="exerciseSteps">4. Lift your chest up and straighten your lower back</h1>
                        <h1 class="exerciseSteps">5. Take a big breath, hold it, and stand up with the weight</h1>
                    <cite class="separator"></cite>
                <h2>Exercise 3 : Leg Extensions</h2>
                <a>5 SETS (12, 10, 8, 6, 12 REPS) 60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Sit on a leg extension machine. Position your legs under the pad and grasp the side bars with your hands. This is the starting position.</h1>
                      <h1 class="exerciseSteps">2. Extend your legs to the maximum, exhaling as you do so. Pause a second in this contracted position.</h1>
                      <h1 class="exerciseSteps">3. Lower the weight back to the original position as you inhale. Make sure your legs don't go past the 90-degree angle point.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 4 : Leg Curls</h2>
                <a>5 SETS (12, 10, 8, 6, 12 REPS) 60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Lie down on a leg curl machine with the pad on the back of your legs. It should be positioned a few inches under your calves.</h1>
                      <h1 class="exerciseSteps">2. Stretch your legs out fully and grasp the side handles of the machine, keeping your torso flat on the bench as you do so. This is the starting position.</h1>
                      <h1 class="exerciseSteps">3. Curl your lower legs up as far as you can while keeping your upper legs on the pad. Once your legs are fully contracted, hold the position for a second.</h1>
                      <h1 class="exerciseSteps">4. Bring your legs back to the starting position, inhaling as you do so. Repeat for the number of reps in your set.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 5 : Calf Raise</h2>
                <a>5 SETS (12, 10, 8, 6, 12 REPS) 60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Sit on a calf raise machine and place your toes on the foot platform. You heels should hang off the back of the platform.</h1>
                      <h1 class="exerciseSteps">2. Adjust the thigh padding so your lower thighs rest just under the padding.</h1>
                      <h1 class="exerciseSteps">3. Grasp the handle bars and then raise up on your toes to release the safety for your starting position.</h1>
                      <h1 class="exerciseSteps">4. Inhale as you slowly lower your heels until they are below your toes and your calves are fully stretched.</h1>
                      <h1 class="exerciseSteps">5. Exhale as you raise your heels as high as you can until you are on your tippy toes.</h1>
                      <h1 class="exerciseSteps">6. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 6 : Leg Raise</h2>
                <a>5 SETS (12, 10, 8, 6, 12 REPS) 60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Lay down with your back flat on the floor, feet straight out and together and your hands on your side.</h1>
                      <h1 class="exerciseSteps">2. While keep your legs as straight as you can lift your feet up in the air between 6-12 inches.</h1>
                      <h1 class="exerciseSteps">3. You can either hold for designated period of time or you can raise them up and then lower them right back down.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 7 : Decline Sit Up</h2>
                <a>5 SETS (12, 10, 8, 6, 12 REPS) 60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Sit on the bench with bent knees and your feet under the padded bar.</h1>
                      <h1 class="exerciseSteps">2. Cross your arms over your chest, or interlace your fingers around the base of your skull.</h1>
                      <h1 class="exerciseSteps">3. Lift your torso up to bring your chest to your thighs.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 8 : Bench Side Bend</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Lie on your left side, right arm on a right hip or extended, place your left forearm on a bench and prop yourself up.</h1>
                      <h1 class="exerciseSteps">2. Raise your hips so your body is straight from ankles to head.</h1>
                      <h1 class="exerciseSteps">3. Repeat for reps.</h1>
                  <cite class="separator"></cite>
            </div>
        
        </div>
    </div>
</body>



<footer >
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Leadership</a>
                <a href="#">Team</a>
                <a href="#">Investors</a>
                <a href="#">Terms of Service</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>Contact</h2>
                <a href="#">E-mail</a>
                <a href="#">Phone</a>
                <a href="#">Fax</a>
            </div>
            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
        