{% extends "base.html" %} {% block title %}DAY 1{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Day 1</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>


<body>
 
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1 : Bench Press</h2>
                <a>1 SET (5, 7 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Hold the weight directly over the shoulders, arms slightly wider than shoulder height.</h1>
                    <h1 class="exerciseSteps">2. Push the weight up until your arms are angled at 45 degrees at the top.</h1>
                    <h1 class="exerciseSteps">3. Slowly lower the weight back down to chest height, elbows out to the sides.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2 : Incline Bench Press</h2>
                <a>3 SETS (12, 8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Hold the weight directly over the shoulders, arms slightly wider than shoulder height.</h1>
                    <h1 class="exerciseSteps">2. Push the weight up until your arms are angled at 45 degrees at the top.</h1>
                    <h1 class="exerciseSteps">3. Slowly lower the weight back down to chest height, elbows out to the sides.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 3 : Dumbbell Press</h2>
                <a>3 SETS (12, 8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Hold the weight directly over the shoulders, arms slightly wider than shoulder height.</h1>
                    <h1 class="exerciseSteps">2. Push the weight up until your arms are angled at 45 degrees at the top.</h1>
                    <h1 class="exerciseSteps">3. Slowly lower the weight back down to chest height, elbows out to the sides.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 4 : Dumbbell Fly</h2>
                <a>3 SETS (12, 8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Start by lying down on a flat bench. Hold a dumbbell in each hand, resting the weight on the top of your thighs. Your palms will be facing each other.</h1>
                    <h1 class="exerciseSteps">2. Lift the dumbbells one at at time. Hold the dumbbells in front of you, shoulder width apart.</h1>
                    <h1 class="exerciseSteps">3. Bend your elbows slightly and lower your arms at both sides using a wide arc.</h1>
                    <h1 class="exerciseSteps">4. Bring your arms back to the starting position, using the same arc of motion as you did to lower the weights.</h1>
                    <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 5 : Pushdowns</h2>
                <a>3 SETS (12, 8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Start by bracing your abdominals.</h1>
                    <h1 class="exerciseSteps">2. Tuck your elbows in at your sides and position your feet slightly apart.</h1>
                    <h1 class="exerciseSteps">3. Inhale. Push down until your elbows are fully extended but not yet in the straight, locked position. Keep your elbows close to your body and bend your knees slightly on the pushdown. Resist bending forward. Try to keep your back as straight as possible as you push down.</h1>
                    <h1 class="exerciseSteps">4. As you exhale, return to the starting point using a controlled movement.</h1>
                    <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 6 : Tricep Dips</h2>
                <a>3 SETS (12, 8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Place a bench behind your back and hold on to its edge with your hands fully extended at around shoulder width. The legs will be extended forward while you're bent at the waist. This is your starting position.</h1>
                  <h1 class="exerciseSteps">2. Slowly lower your body by bending at the elbows until your arms are close to a 90 degree angle. Keep you elbows as close as possible to your torso throughout the movement.</h1>
                  <h1 class="exerciseSteps">3. Use your triceps to bring your torso up and back to the starting position.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
        </div>
    </div>
</body>




<footer >
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Leadership</a>
                <a href="#">Team</a>
                <a href="#">Investors</a>
                <a href="#">Terms of Service</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>Contact</h2>
                <a href="#">E-mail</a>
                <a href="#">Phone</a>
                <a href="#">Fax</a>
            </div>
            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
                    