{% extends "base.html" %} {% block title %}DAY 4{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Day 4</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>

<body>
 
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1 : Bench Press</h2>
                <a>3 SET (8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Hold the weight directly over the shoulders, arms slightly wider than shoulder height.</h1>
                    <h1 class="exerciseSteps">2. Push the weight up until your arms are angled at 45 degrees at the top.</h1>
                    <h1 class="exerciseSteps">3. Slowly lower the weight back down to chest height, elbows out to the sides.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2 : Wide Grip Bench Press</h2>
                <a>3 SET (8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Hold the weight directly over the shoulders, arms slightly wider than shoulder height.</h1>
                    <h1 class="exerciseSteps">2. Push the weight up until your arms are angled at 45 degrees at the top.</h1>
                    <h1 class="exerciseSteps">3. Slowly lower the weight back down to chest height, elbows out to the sides.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 3 : Tricep Dips</h2>
                <a>3 SET (8 REPS) 60-120 SECONDS REST</a>
                    <cite class="separator"></cite>
                        <h1 class="exerciseSteps">1. Place a bench behind your back and hold on to its edge with your hands fully extended at around shoulder width. The legs will be extended forward while you're bent at the waist. This is your starting position.</h1>
                        <h1 class="exerciseSteps">2. Slowly lower your body by bending at the elbows until your arms are close to a 90 degree angle. Keep you elbows as close as possible to your torso throughout the movement.</h1>
                        <h1 class="exerciseSteps">3. Use your triceps to bring your torso up and back to the starting position.</h1>
                        <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                    <cite class="separator"></cite>
                <h2>Exercise 4 : Rows</h2>
                <a>3 SET (8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Holding the barbell with a pronated grip, bend the legs and tilt the torso with a straight back.</h1>
                    <h1 class="exerciseSteps">2. Flexing the core, keep head in neutral position, pull the barbell towards your stomach.</h1>
                    <h1 class="exerciseSteps">3. Squeeze your back as you breath, return to the starting position.</h1>
                    <h1 class="exerciseSteps">4. Inhale and lower the barbell to the starting position.</h1>
                    <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 5 : Overhead Press</h2>
                <a>3 SET (8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Grab a pair of dumbbells, and lift them up to the starting position at your shoulders.</h1>
                    <h1 class="exerciseSteps">2. Inhale and lightly brace your core. Press the dumbbells up to straight arms, while exhaling.</h1>
                    <h1 class="exerciseSteps">3. Inhale at the top, or while lowering the dumbbells with control back to your shoulders.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 6 : Leg Raise</h2>
                <a>3 SET (8 REPS) 60-120 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lay down with your back flat on the floor, feet straight out and together and your hands on your side.</h1>
                  <h1 class="exerciseSteps">2. While keep your legs as straight as you can lift your feet up in the air between 6-12 inches.</h1>
                  <h1 class="exerciseSteps">3. You can either hold for designated period of time or you can raise them up and then lower them right back down.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
        </div>
    </div>
</body>





<footer >
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Leadership</a>
                <a href="#">Team</a>
                <a href="#">Investors</a>
                <a href="#">Terms of Service</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>Contact</h2>
                <a href="#">E-mail</a>
                <a href="#">Phone</a>
                <a href="#">Fax</a>
            </div>
            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}