{% extends "index.html" %} {% block title %}5x5{% endblock %} {% block content
%}
<img class="headimg" src="static/GreekGods/greekgod1.5.png " alt="">
<div class="greekCastle">
    <a href="5x5day1"><div></div></a>
    <a href="rest"><div></div></a>
    <a href="5x5day2"><div></div></a>
    <a href="rest"><div></div></a>
    <a href="5x5day1"><div></div></a>
    <a href="rest"><div></div></a>
    <a href="rest"><div></div></a>
</div>
<footer >
	<div class="footer-container">
	  <div class="footer">
		<div class="footer-heading footer-1">
            <h2>Info</h2>
            <a href="terms">Terms & Condiitons</a>
        </div>
		<div class="footer-heading footer-2">
			<h2>Contact</h2>
			<a href="#">E-mail: business@strength.com</a>
			<a href="#">Phone: 555-555-5555</a>
			<a href="#">Fax: 555-555-5555</a>
		</div>
		<div class="footer-heading footer-3">
			<h2>Social Media</h2>
			<a href="#">Instagram.com/strength</a>
			<a href="#">Facebook.com/strength</a>
			<a href="#">Youtube.com/strength</a>
			<a href="#">Twitter.com/strength</a>
		</div>
	  </div>
  </div>
</footer>
{% endblock %}
