{% extends "index.html" %} {% block title %}DAY 3{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Day 3</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>


<body>
 
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1: Deadlift</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Stand up tall with one dumbbell in each hand, palms facing you.</h1>
                    <h1 class="exerciseSteps">2. Engage your abs, and hinge your hips back as you slowly lower the dumbbells toward the middle of your shins.</h1>
                    <h1 class="exerciseSteps">3. Stand back up, then squeeze your glutes at the top.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2: Chin Ups</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Place hands on the bar with palms facing yourself and a grip slightly within shoulder width.</h1>
                    <h1 class="exerciseSteps">2. Retract the shoulders and tuck them down and keep the core tight and back slightly arched</h1>
                    <h1 class="exerciseSteps">3. Breathng out, pull the torso upward until the head is above the bar keeping elbows against the side of the body.</h1>
                    <h1 class="exerciseSteps">4. Lower back to the starting position while breathing in.</h1>
                    <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 3: Rows</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Holding the barbell with a pronated grip, bend the legs and tilt the torso with a straight back.</h1>
                    <h1 class="exerciseSteps">2. Flexing the core, keep head in neutral position, pull the barbell towards your stomach.</h1>
                    <h1 class="exerciseSteps">3. Squeeze your back as you breath, return to the starting position.</h1>
                    <h1 class="exerciseSteps">4. Inhale and lower the barbell to the starting position.</h1>
                    <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 4: Seated Cable Row</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Grip the handle attachment with both hands and sit with chest upright and back straight.</h1>
                    <h1 class="exerciseSteps">2. With shoulders retracted, pull the handle towards the mid torso.</h1>
                    <h1 class="exerciseSteps">3. Squeeze the back muscles as the handle approaches the torso and hold before returning to the starting position.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 5: Lat Pulldown</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Sit on the pull down machine with knee pads adjusted to provide support, preventing your body from being pulled out of position.</h1>
                    <h1 class="exerciseSteps">2. Grip the pull down bar with a pronated grip slightly outside of shoulder width.</h1>
                    <h1 class="exerciseSteps">3. As you exhale, pull the bar down until it touches the upper chest.</h1>
                    <h1 class="exerciseSteps">4. Pause and squeeze the back muscles.</h1>
                    <h1 class="exerciseSteps">5. Slowly bring the bar back to the starting position with the lats fully stretched.</h1>
                    <h1 class="exerciseSteps">6. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 6: Concentration Curl</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Sit down on a bench holding a dumbbell in your left hand, and rest your elbow on the inside of your left thigh.</h1>
                    <h1 class="exerciseSteps">2. Squeeze the left biceps and bring the dumbbell toward your chest.</h1>
                    <h1 class="exerciseSteps">3. Lower the left arm to the starting position.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 7: Barbell Curl</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                        <h1 class="exerciseSteps">1. Stand up straight while holding a barbell in a shoulder-width grip.</h1>
                        <h1 class="exerciseSteps">2. Contract your biceps to curl the weight forward. Your upper arms should remain stationary during this process.</h1>
                        <h1 class="exerciseSteps">3. Continue moving the barbell until the biceps are fully contracted and the bar is at shoulder height. Hold this position for a second and then squeeze your biceps.</h1>
                        <h1 class="exerciseSteps">4. Bring the barbell back to the starting position.</h1>
                        <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 8: Z-Bar Preacher Curl</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Grab an Z-bar with an underhand grip. Position hands at the first grip portion from the center.</h1>
                    <h1 class="exerciseSteps">2. Sit down on a preacher bench with your upper arms(triceps) resting on the incline pad. Hold bar in front of your face with palms facing you.</h1>
                    <h1 class="exerciseSteps">3. Lower the bar down without moving your upper arms, only allowing your forearms to move.</h1>
                    <h1 class="exerciseSteps">4. Curl weight back up to starting position.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 9: Incline Dumbbell Curl</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1.Position an incline bench at roughly 55-65 degrees, select the desired weight from the rack, and sit upright with your back flat against the pad.</h1>
                    <h1 class="exerciseSteps">2. Using a supinated (palms up) grip, take a deep breath and curl both dumbbells towards your shoulders.</h1>
                    <h1 class="exerciseSteps">3. Once the biceps are fully shortened, slowly lower the weights back to the starting position.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>

    </div>
</body>


{% endblock %}
                