{% extends "base.html" %} {% block title %}DAY 5{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Day 5</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>


<body>
 
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1: DB Overhead Press</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Grab a pair of dumbbells, and lift them up to the starting position at your shoulders.</h1>
                  <h1 class="exerciseSteps">2. Inhale and lightly brace your core. Press the dumbbells up to straight arms, while exhaling.</h1>
                  <h1 class="exerciseSteps">3. Inhale at the top, or while lowering the dumbbells with control back to your shoulders.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2: Dumbbell Fly</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Start by lying down on a flat bench. Hold a dumbbell in each hand, resting the weight on the top of your thighs. Your palms will be facing each other.</h1>
                  <h1 class="exerciseSteps">2. Lift the dumbbells one at at time. Hold the dumbbells in front of you, shoulder width apart.</h1>
                  <h1 class="exerciseSteps">3. Bend your elbows slightly and lower your arms at both sides using a wide arc.</h1>
                  <h1 class="exerciseSteps">4. Bring your arms back to the starting position, using the same arc of motion as you did to lower the weights.</h1>
                  <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 3: Overhead Press</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Stand with feet shoulder-width apart and hold the dumbbells/barbell at shoulder height with your elbows at a 90-degree angle.</h1>
                  <h1 class="exerciseSteps">2. Slowly lift the dumbbells/barbell above your head without fully straightening your arms. Pause at the top.</h1>
                  <h1 class="exerciseSteps">3. Slowly return to the start position.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 4: Lateral Raise</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Start with the dumbbells resting on the side of the thigh. The arms should be slightly bent.</h1>
                  <h1 class="exerciseSteps">2. Using your shoulder, lift the arm in a semi-circular motion until slightly above parallel.</h1>
                  <h1 class="exerciseSteps">3. Return to the starting position slowly while maintaining a tight core.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 5: Dumbbell Shrug</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Stand up straight with a dumbbell in each hand. Your palms should be facing your torso, with your arms extended to your sides.</h1>
                    <h1 class="exerciseSteps">2. Raise the dumbbells by lifting your shoulders as high as possible, exhaling as you do so. Hold the contraction at the top for a second.</h1>
                    <h1 class="exerciseSteps">3. Bring the dumbbells back to the starting position.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 6: Cable Upright Row</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Place the cable pulley in the very bottom notch of the machine.</h1>
                    <h1 class="exerciseSteps">2. Grab onto the bar with both hands, palms facing down and in towards your body.</h1>
                    <h1 class="exerciseSteps">3. Bending at the elbows pull the bar up to the top of your chest.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 7: Wrist Curl</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Exhale as you slowly close your hands and curl the dumbbells upward by flexing your wrists.</h1>
                  <h1 class="exerciseSteps">2. Hold for a count of two.</h1>
                  <h1 class="exerciseSteps">3. Inhale as you lower the dumbbells to the starting position and open your hands a little to allow the dumbbells to once again roll towards your fingers.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 8: Reverse Wrist Curl</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Face palms downward.</h1>
                  <h1 class="exerciseSteps">2. Exhale as you slowly close your hands and curl the dumbbells upward by flexing your wrists.</h1>
                  <h1 class="exerciseSteps">3. Hold for a count of two.</h1>
                  <h1 class="exerciseSteps">4. Inhale as you lower the dumbbells to the starting position and open your hands a little to allow the dumbbells to once again roll towards your fingers.</h1>
                  <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
            </div>  
        </div>
    </div>
</body>




<footer >
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Leadership</a>
                <a href="#">Team</a>
                <a href="#">Investors</a>
                <a href="#">Terms of Service</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>Contact</h2>
                <a href="#">E-mail</a>
                <a href="#">Phone</a>
                <a href="#">Fax</a>
            </div>
            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
                