{% extends "base.html" %} {% block title %}DAY 6{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Day 6</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>


<body>
 
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1: Squat</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Load a barbell on a rack at upper-chest height.</h1>
                    <h1 class="exerciseSteps">2. Step under the barbell so that it rests on the back of your shoulders, and grasp the bar at each side.</h1>
                    <h1 class="exerciseSteps">3. Dismount the barbell and step backward carefully. Your feet should be shoulder-width apart and pointing slightly outwards.</h1>
                    <h1 class="exerciseSteps">4. Inhale as you squat down by simultaneously pushing your butt backward and bending your knees forward. Keep your torso upright, and descend at least until your knees are bent at a 90-degree angle.</h1>
                    <h1 class="exerciseSteps">5. Exhale as you push your body back up to the starting position, driving through your heels and keeping your torso upright.</h1>
                    <h1 class="exerciseSteps">6. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2: Leg Extension</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Sit on a leg extension machine. Position your legs under the pad and grasp the side bars with your hands. This is the starting position.</h1>
                    <h1 class="exerciseSteps">2. Extend your legs to the maximum, exhaling as you do so. Pause a second in this contracted position.</h1>
                    <h1 class="exerciseSteps">3. Lower the weight back to the original position as you inhale. Make sure your legs don't go past the 90-degree angle point.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 3: Leg Curls</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lie down on a leg curl machine with the pad on the back of your legs. It should be positioned a few inches under your calves.</h1>
                  <h1 class="exerciseSteps">2. Stretch your legs out fully and grasp the side handles of the machine, keeping your torso flat on the bench as you do so. This is the starting position.</h1>
                  <h1 class="exerciseSteps">3. Curl your lower legs up as far as you can while keeping your upper legs on the pad. Once your legs are fully contracted, hold the position for a second.</h1>
                  <h1 class="exerciseSteps">4. Bring your legs back to the starting position, inhaling as you do so. Repeat for the number of reps in your set.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 4: Calf Raise</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Sit on a calf raise machine and place your toes on the foot platform. You heels should hang off the back of the platform.</h1>
                    <h1 class="exerciseSteps">2. Adjust the thigh padding so your lower thighs rest just under the padding.</h1>
                    <h1 class="exerciseSteps">3. Grasp the handle bars and then raise up on your toes to release the safety for your starting position.</h1>
                    <h1 class="exerciseSteps">4. Inhale as you slowly lower your heels until they are below your toes and your calves are fully stretched.</h1>
                    <h1 class="exerciseSteps">5. Exhale as you raise your heels as high as you can until you are on your tippy toes.</h1>
                    <h1 class="exerciseSteps">6. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 5: Decline Oblique Crunch</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Lie down on a decline bench and secure your legs at one end.</h1>
                    <h1 class="exerciseSteps">2. Lift your upper body off the bench until your torso is raised to an angle of approximately 35-45 degrees as measured from the floor.</h1>
                    <h1 class="exerciseSteps">3. Place one hand beside your head and the other one on your thigh. This is the starting position.</h1>
                    <h1 class="exerciseSteps">4.  Lift your upper body from the starting position as you turn your torso to your left.</h1>
                    <h1 class="exerciseSteps">5. Lower your body down slowly until you return to the starting position. Inhale as you do so.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 6: Sit Up</h2>
                <a>3 SETS (12, 10, 8 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lay on back</h1>
                  <h1 class="exerciseSteps">2. Cross your arms over your chest, or interlace your fingers around the base of your skull.</h1>
                  <h1 class="exerciseSteps">3. Lift your torso up to bring your chest to your thighs.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
            </div>  
        </div>
    </div>
</body>




{% endblock %}
                