{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<head>
<div class="title_bar">
	<div class="theme_canvas">
		<h3 class="page_title">Strength</h3>
		<div class="page_subtitle">\ ˈstreŋ(k)th, ˈstren(t)th  \</div>
	</div>
</div>
</head>
<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>
<h2 class="commandments">I : force as measured in numbers : effective numbers of any body or organization</h2>
<h1>The first goal of Strength is to build a community that welcomes people from all walks of life to build a community focused on one thing, getting stonger.</h1>
<h2 class="commandments">II : the quality or state of being strong : capacity for exertion or endurance</h2>
<h1>The second goal of Strength is to offer quality content with a variety of different ways to develop stronger bodies.</h1>
<h2 class="commandments">III : one regarded as embodying or affording force or firmness</h2>
<h1>The third goal of Strength is the development of users. Strength is not simply defined as the amount of weight a person can lift. It is also important to embody what strength means while developing a strong personality.</h1>
<h2 class="commandments">IV : power to resist force : SOLIDITY, TOUGHNESS</h2>
<h1>The fourth goal of Strength is the empowerment. Our users will be nurtured in a way that allows them to surpass what they believe is possible.</h1>
<h2 class="commandments">V : power of resisting attack : IMPREGNABILITY</h2>
<h1>The fifth goal of Strength is to prepare our users for life. After going through the Strength program, our users will be able to face any challenge and become unconquerable.</h1>
</body>
<img class="atlas" src="/static/atlas.png" alt="">
<footer >
	<div class="footer-container" style="position:relative; top:100px">
	  <div class="footer">
		  <div class="footer-heading footer-1">
            <h2>Info</h2>
            <a href="terms">Terms & Condiitons</a>
          </div>
		  <div class="footer-heading footer-2">
			  <h2>Contact</h2>
			  <a href="#">E-mail: business@strength.com</a>
			  <a href="#">Phone: 555-555-5555</a>
			  <a href="#">Fax: 555-555-5555</a>
		  </div>
		  <div class="footer-heading footer-3">
			  <h2>Social Media</h2>
			  <a href="#">Instagram.com/strength</a>
			  <a href="#">Facebook.com/strength</a>
			  <a href="#">Youtube.com/strength</a>
			  <a href="#">Twitter.com/strength</a>
		  </div>
	  </div>
  </div>
{% endblock %}
    