{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<head>
<div class="title_bar">
	<div class="theme_canvas">
		<h3 class="page_title">Strength</h3>
		<div class="page_subtitle">\ ˈstreŋ(k)th, ˈstren(t)th  \</div>
	</div>
</div>
</head>
<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>
<h2 class="commandments" style="text-align: center; color: #ffffff;">I : force as measured in numbers : effective numbers of any body or organization</h2>
<h1>test</h1>
<h2 class="commandments" style="text-align: center; color: #ffffff;">II : the quality or state of being strong : capacity for exertion or endurance</h2>

<h2 class="commandments" style="text-align: center; color: #ffffff;">III : one regarded as embodying or affording force or firmness</h2>

<h2 class="commandments" style="text-align: center; color: #ffffff;">IV : : power to resist force : SOLIDITY, TOUGHNESS</h2>

<h2 class="commandments" style="text-align: center; color: #ffffff;">V : power of resisting attack : IMPREGNABILITY</h2>
</body>
{% endblock %}
    