{% extends "base.html" %} {% block title %}Body Part Selector{% endblock %} {% block content %}
<form method="POST">
<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Select a Part</h3>
            <div class="page_subtitle">What part of your body feels underdeveloped?</div>
        </div>
    </div>
</head>
<body>
    <div class="wrapper">
        <figure>
            <div class="hover-animation" style = "position:relative; left:0px; top:200px">
                <a href="chest">
                    <img src="/static/BodyParts/IndividualParts/Chest.png" alt="" class="Chest">
                    <img src="/static/BodyParts/IndividualParts/ChestBNW.png" alt="" class="ChestBNW">
                </a> 
            </div>
            <div class="hover-animation" style="position:relative; left:16px; top:113px">
                <a href="neck">
                    <img src="/static/BodyParts/IndividualParts/Neck.png" alt="" class="Neck">
                    <img src="/static/BodyParts/IndividualParts/NeckBNW.png" alt="" class="NeckBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:16px; top:295px">
                <a href="core">
                    <img src="/static/BodyParts/IndividualParts/Core.png" alt="" class="Core">
                    <img src="/static/BodyParts/IndividualParts/CoreBNW.png" alt="" class="CoreBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:-135px; top:229px">
                <a href="arms">
                    <img src="/static/BodyParts/IndividualParts/Rotated/LArmNeg30.png" alt="" class="LeftArm">
                    <img src="/static/BodyParts/IndividualParts/Rotated/LArmBNWNeg30.png" alt="" class="LeftArmBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:234px; top:229px">
                <a href="arms">
                    <img src="/static/BodyParts/IndividualParts/Rotated/RArmPos30.png" alt="" class="RightArm">
                    <img src="/static/BodyParts/IndividualParts/Rotated/RArmBNWPos30.png" alt="" class="RightArmBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:-30px; top:155px">
                <a href="shoulders">
                    <img src="/static/BodyParts/IndividualParts/Rotated/LShouldrNeg60.png" alt="" class="LeftShoulder">
                    <img src="/static/BodyParts/IndividualParts/Rotated/LShouldBNWNeg60.png" alt="" class="LeftShoulderBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:157px; top:158px">
                <a href="shoulders">
                    <img src="/static/BodyParts/IndividualParts/Rotated/RShouldrPos60.png" alt="" class="RightShoulder">
                    <img src="/static/BodyParts/IndividualParts/Rotated/RShouldrBNWPos60.png" alt="" class="RightShoulderBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:-22px; top:440px">
                <a href="legs">
                    <img src="/static/BodyParts/IndividualParts/LeftLeg.png" alt="" class="LeftLeg">
                    <img src="/static/BodyParts/IndividualParts/LeftLegBNW.png" alt="" class="LeftLegBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:100px; top:440px">
                <a href="legs">
                    <img src="/static/BodyParts/IndividualParts/RightLeg.png" alt="" class="RightLeg">
                    <img src="/static/BodyParts/IndividualParts/RightLegBNW.png" alt="" class="RightLegBNW">
                </a>
            </div>
        </figure>
        <figure>
            <div class="hover-animation" style="position:relative; left:549px; top:240px">
                <a href="back">
                    <img src="/static/BodyParts/IndividualParts/Cropped/Back.png" alt="" class="Back">
                    <img src="/static/BodyParts/IndividualParts/Cropped/BackBNW.png" alt="" class="BackBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:563px; top:469px">
                <a href="glutes">
                    <img src="/static/BodyParts/IndividualParts/Cropped/Glutes.png" alt="" class="Glutes">
                    <img src="/static/BodyParts/IndividualParts/Cropped/GlutesBNW.png" alt="" class="GlutesBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:413px; top:285px">
                <a href="arms">
                    <img src="/static/BodyParts/IndividualParts/Cropped/LArmNeg30Back.png" alt="" class="LArmBack">
                    <img src="/static/BodyParts/IndividualParts/Cropped/LArmBNWNeg30Back.png" alt="" class="LArmBackBNW">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:797px; top:281px">
                <a href="arms">
                    <img src="/static/BodyParts/IndividualParts/Cropped/RArmNeg30Back.png" alt="" class="RArmBack">
                    <img src="/static/BodyParts/IndividualParts/Cropped/RArmBNWNeg30Back.png" alt="" class="RArmBNWBack">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:528px; top:513px">
                <a href="legs">
                    <img src="/static/BodyParts/IndividualParts/Cropped/LLegBack.png" alt="" class="LLegBack">
                    <img src="/static/BodyParts/IndividualParts/Cropped/LLegBNWBack.png" alt="" class="LLegBNWBack">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:650px; top:543px">
                <a href="legs">
                    <img src="/static/BodyParts/IndividualParts/Cropped/RLegBack.png" alt="" class="RLegBack">
                    <img src="/static/BodyParts/IndividualParts/Cropped/RLegBNWBack.png" alt="" class="RLegBNWBack">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:509px; top:248px">
                <a href="shoulders">
                    <img src="/static/BodyParts/IndividualParts/Cropped/LShouldrBack.png" alt="" class="LShoulderBack">
                    <img src="/static/BodyParts/IndividualParts/Cropped/LShouldrBNWBack.png" alt="" class="LShoulderBNWBack">
                </a>
            </div>
            <div class="hover-animation" style="position:relative; left:752px; top:242px">
                <a href="shoulders">
                    <img src="/static/BodyParts/IndividualParts/Cropped/RShouldrBack.png" alt="" class="RShoulderBack">
                    <img src="/static/BodyParts/IndividualParts/Cropped/RShouldrBNWBack.png" alt="" class="RShoulderBNWBack">
                </a>
            </div>
        </figure>
    </div>
</body>
<img class="atlas" src="/static/atlas.png" alt="" style="position:relative; top:1000px">
<h2 class="commandments" style="position:relative; top:1000px">Reinforce your weaknesses and turn them into Strengthes.</h2>
<h1 style="position:relative; top:1000px">
The Body Part Selector is designed to help focus on what may be lacking. There are 
several exercises listed for every relevant muscle. Want more developed arms? Pick the 
specific muscle within your arm that you want to develop. After picking the muscle,
there will be several exercises to pick from. Some can be done from home, while others
may require a gym or extra equipment. Not sure how to perform the exercise? Every exercise
has steps attached that will walk you through how to properly perform the movement in 
its entirety. There are not only steps provided, but also video references that can be
accessed when clicking the exercise's name.</h1>
<h2 class="commandments" style="position:relative; top:1000px">Step-by-Step</h2>
<h2 class="commandments" style="position:relative; top:1000px">1. Select a body part by clicking on it above.</h2>
<h2 class="commandments" style="position:relative; top:1000px">2. Decide what specific muscle you want to focus on.</h2>
<h2 class="commandments" style="position:relative; top:1000px">3. Pick an exercise from the list provided.</h2>
<h2 class="commandments" style="position:relative; top:1000px">4. Read the steps for exercises below exercise's name.</h2>
<h2 class="commandments" style="position:relative; top:1000px">5. Optionally, click exercise's name to reveal a video demonstration.</h2>
<footer >
    <div class="footer-container" style="position:relative; top:1100px">
      <div class="footer">
        <div class="footer-heading footer-1">
            <h2>Info</h2>
            <a href="terms">Terms & Condiitons</a>
        </div>
        <div class="footer-heading footer-2">
            <h2>Contact</h2>
            <a href="#">E-mail: business@strength.com</a>
            <a href="#">Phone: 555-555-5555</a>
            <a href="#">Fax: 555-555-5555</a>
        </div>
        <div class="footer-heading footer-3">
            <h2>Social Media</h2>
            <a href="#">Instagram.com/strength</a>
            <a href="#">Facebook.com/strength</a>
            <a href="#">Youtube.com/strength</a>
            <a href="#">Twitter.com/strength</a>
        </div>
      </div>
  </div>

{% endblock %}
