{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="form-container">
  <div class="loginregister">
    <form method="POST">
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label class="field" for="email">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <!-- <br><br> -->
        <div class="form-group">
          <label class="field" for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <button class="btn" type="submit">Login</button>
        <div class="signuplinktext" >Don't have an account? <a class="signuplink" href="sign-up">Sign Up</a></div>
      </fieldset>
    </form>
  </div>  
</div>  
<footer >
  <div class="footer-container" style="position:relative; top:100px">
    <div class="footer">
        <div class="footer-heading footer-1">
            <h2>About Us</h2>
            <a href="#">Leadership</a>
            <a href="#">Team</a>
            <a href="#">Investors</a>
            <a href="#">Terms of Service</a>
        </div>
        <div class="footer-heading footer-2">
            <h2>Contact</h2>
            <a href="#">E-mail</a>
            <a href="#">Phone</a>
            <a href="#">Fax</a>
        </div>
        <div class="footer-heading footer-3">
            <h2>Social Media</h2>
            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
            <a href="#">Youtube</a>
            <a href="#">Twitter</a>
        </div>
    </div>
</div>
{% endblock %}
