{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="form-container">
  <div class="loginregister">
    <form method="POST">
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label class="field" for="email">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <!-- <br><br> -->
        <div class="form-group">
          <label class="field" for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <button class="btn" type="submit">Login</button>
        <div class="signuplinktext" >Don't have an account? <a class="signuplink" href="sign-up">Sign Up</a></div>
      </fieldset>
    </form>
  </div>  
</div>  
<footer >
  <div class="footer-container" style="position:relative; top:100px">
    <div class="footer">
		  <div class="footer-heading footer-2">
			  <h2>Contact</h2>
			  <a href="#">E-mail: business@strength.com</a>
			  <a href="#">Phone: 555-555-5555</a>
			  <a href="#">Fax: 555-555-5555</a>
		  </div>
		  <div class="footer-heading footer-3">
			  <h2>Social Media</h2>
			  <a href="#">Instagram.com/strength</a>
			  <a href="#">Facebook.com/strength</a>
			  <a href="#">Youtube.com/strength</a>
			  <a href="#">Twitter.com/strength</a>
		  </div>
    </div>
</div>
{% endblock %}
