{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
<body>
    <div class="form-container">
      <div class="loginregister">
        <form>
          <fieldset>
            <legend>Register</legend>
            <div>
              <label class="field" for="email">Email Address</label>
              <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email"
              />
            </div>
            <!-- <br><br> -->
            <div>
            <label class="field" for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="Enter first name"
            />
            </div>
            <!-- <br><br> -->
            <div>
              <label class="field" for="password1">Password</label>
              <input
              type="password"
              class="form-control"
              id="password1"
              name="password1"
              placeholder="Enter password"
              />
            </div>
            <!-- <br><br> -->
            <div class="form-group">
              <label class="field" for="password2">Password (Confirm)</label>
              <input
              type="password"
              class="form-control"
              id="password2"
              name="password2"
              placeholder="Confirm password"
            />
            </div>
            <!-- <br><br> -->
            <button type="submit" class="btn">Submit</button>
            <div class="signuplinktext" >Already have an account? <a class="signuplink" href="login">Login</a></div>
          </fieldset>
</body>
</form>
<footer >
  <div class="footer-container" style="position:relative; top:100px">
    <div class="footer">
      <div class="footer-heading footer-1">
        <h2>Info</h2>
        <a href="terms">Terms & Condiitons</a>
      </div>
        <div class="footer-heading footer-2">
			  <h2>Contact</h2>
			  <a href="#">E-mail: business@strength.com</a>
			  <a href="#">Phone: 555-555-5555</a>
			  <a href="#">Fax: 555-555-5555</a>
		  </div>
		  <div class="footer-heading footer-3">
			  <h2>Social Media</h2>
			  <a href="#">Instagram.com/strength</a>
			  <a href="#">Facebook.com/strength</a>
			  <a href="#">Youtube.com/strength</a>
			  <a href="#">Twitter.com/strength</a>
		  </div>
    </div>
</div>
{% endblock %}