{% extends "base.html" %} {% block title %}Terms and Condiitons{% endblock %} {% block content
    %}
    
    <head>
        <div class="title_bar">
            <div class="theme_canvas">
                <h3 class="page_title">Terms and Condiitons</h3>
                <div class="exercise_steps">Any information provided by Strength is intended
                    for educational purposes only. The information provided 
                    within this website is not intended to be a diagnosis or prescription. 
                    Before beginning any fitness program please consult a physician. 
                    Do not continue any exercise that causes pain or severe 
                    discomfort and consult a medical expert. Strength cannot guarantee 
                    any exercise, health, weight loss or fitness results or improvements 
                    to the users.</div>
            </div>
        </div>
    </head>
    
    
    {% endblock %}
                                    