{% extends "base.html" %} {% block title %}workoutPicker{% endblock %} {% block content
%}
<body>
    <img class="pillarLeft" src="static/GreekGods/pillarLeft.png" alt="">
    <img class="pillarRight" src="static/GreekGods/pillarRight.png" alt="">
        <div class="greekCircle">
            <a href="#"><div></div></a>
            <a href="#"><div></div></a>
            <a href="#"><div></div></a>
            <a href="#"><div></div></a>
            <a href="#"><div></div></a>
        </div>
    
</body>
{% endblock %}
    