{% extends "base.html" %} {% block title %}workoutPicker{% endblock %} {% block content
%}
<body>
    <img class="pillarLeft" src="static/GreekGods/pillarLeft.png" alt="">
    <img class="pillarRight" src="static/GreekGods/pillarRight.png" alt="">
        <div class="greekCircle">
            <a href="#a"><div></div></a>
            <a href="#b"><div></div></a>
            <a href="#c"><div></div></a>
            <a href="#d"><div></div></a>
            <a href="#e"><div></div></a>
        </div>
</body>
<br>
<footer >
    <div class="footer-container" style="position:relative; top:2000px">
      <div class="footer">
          <div class="footer-heading footer-1">
              <h2>About Us</h2>
              <a href="#">Leadership</a>
              <a href="#">Team</a>
              <a href="#">Investors</a>
              <a href="#">Terms of Service</a>
          </div>
          <div class="footer-heading footer-2">
              <h2>Contact</h2>
              <a href="#">E-mail</a>
              <a href="#">Phone</a>
              <a href="#">Fax</a>
          </div>
          <div class="footer-heading footer-3">
              <h2>Social Media</h2>
              <a href="#">Instagram</a>
              <a href="#">Facebook</a>
              <a href="#">Youtube</a>
              <a href="#">Twitter</a>
          </div>
      </div>
  </div>
{% endblock %}
    