{% extends "base.html" %} {% block title %}WORKOUT PICKER{% endblock %} {% block content
%}
<body>
    <img class="pillarLeft" src="static/GreekGods/pillarLeft.png" alt="">
    <img class="pillarRight" src="static/GreekGods/pillarRight.png" alt="">
        <div class="greekCircle">
            <a href="4wk"><div></div></a>
            <a href="8wk"><div></div></a>
            <a href="power"><div></div></a>
            <a href="ppl"><div></div></a>
            <a href="5x5"><div></div></a>
        </div>
        
</body>
<br>
<footer >
    <div class="footer-container" style="position:relative; top:2000px">
      <div class="footer">
        <div class="footer-heading footer-1">
            <h2>Info</h2>
            <a href="terms">Terms & Condiitons</a>
        </div>
        <div class="footer-heading footer-2">
            <h2>Contact</h2>
            <a href="#">E-mail: business@strength.com</a>
            <a href="#">Phone: 555-555-5555</a>
            <a href="#">Fax: 555-555-5555</a>
        </div>
        <div class="footer-heading footer-3">
            <h2>Social Media</h2>
            <a href="#">Instagram.com/strength</a>
            <a href="#">Facebook.com/strength</a>
            <a href="#">Youtube.com/strength</a>
            <a href="#">Twitter.com/strength</a>
        </div>
      </div>
  </div>
{% endblock %}
    