{% extends "base.html" %} {% block title %}Arms{% endblock %} {% block content
    %}
<head>
<div class="title_bar">
    <div class="theme_canvas">
        <h3 class="page_title">Arms</h3>
        <div class="page_subtitle">I : Biceps</div>
        <div class="page_subtitle">II :Forearms</div>
        <div class="page_subtitle">III :Triceps</div>
    </div>
</div>
</head>
<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>
<h3 class="specificMuscles">I : Biceps</h3>
<p class="exercises">DB Bicep Curls</p>
<cite class="separator"></cite>
    <h1 class="exerciseSteps">1. Standing with a dumbbell in each hand and elbows touching the side of the torso.</h1>
    <h1 class="exerciseSteps">2. Holding the upper arm stationary, curl the right weight with palm facing forward. Lift the dumbbell toward the shoulder until the bicep is fully contracted. Hold this position for a second and squeeze the bicep.</h1>
    <h1 class="exerciseSteps">3. Lower the right dumbbell to the starting position and repeat the same movement with the left dumbbell.</h1>
<cite class="separator"></cite>
<p class="exercises">DB Hammer Curls</p>
<cite class="separator"></cite>
    <h1 class="exerciseSteps">1. Stand with a dumbbell in each hand and elbows touching the side of the torso.</h1>
    <h1 class="exerciseSteps">2. Using biceps, pull forearms and hands upward until fully contracted.</h1>
    <h1 class="exerciseSteps">3. Squeeze biceps and slowly lower back to the starting position.</h1>
    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
<cite class="separator"></cite>
<p class="exercises">Chin Ups</p>
<cite class="separator"></cite>
    <h1 class="exerciseSteps">1. Place hands on the bar with palms facing yourself and a grip slightly within shoulder width.</h1>
    <h1 class="exerciseSteps">2. Retract the shoulders and tuck them down and keep the core tight and back slightly arched</h1>
    <h1 class="exerciseSteps">3. Breathng out, pull the torso upward until the head is above the bar keeping elbows against the side of the body.</h1>
    <h1 class="exerciseSteps">4. Lower back to the starting position while breathing in.</h1>
    <h1 class="exerciseSteps">5. Repeat for reps.</h1>
<cite class="separator"></cite>

<h3 class="specificMuscles">II : Forearms</h3>
<p class="exercises">DB Wrist Curls</p>
<cite class="separator"></cite>
    <h1 class="exerciseSteps">1. Hold 2 dumbbells, resting forearms against the thighs, this is your starting position.</h1>
    <h1 class="exerciseSteps">2. Curl your wrist upwards while exhaling, holding at the top.</h1>
    <h1 class="exerciseSteps">3. Lower dumbbells slowly to the starting position while inhaling.</h1>
    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
<cite class="separator"></cite>
<p class="exercises">Wrist Roller</p>
<cite class="separator"></cite>
    <h1 class="exerciseSteps">1. With a pronated grip and feet shoulder width apart, extend arms forward in front.</h1>
    <h1 class="exerciseSteps">2. Rotate wrists to reel weighted rope around the horizontal bar.</h1>
    <h1 class="exerciseSteps">3. Once weight has reached the top, reverse wrist rotation to lower weight.</h1>
    <h1 class="exerciseSteps">4. Repeat for reps or time.</h1>
<cite class="separator"></cite>
<p class="exercises">Reverse DB Curl</p>
<cite class="separator"></cite>
    <h1 class="exerciseSteps">1. Stand straight and hold the bar with an overhand grip at around shoulder width.</h1>
    <h1 class="exerciseSteps">2. Keeping your elbows near your torso, raise the bar until your forearms are vertical.</h1>
    <h1 class="exerciseSteps">3. Lower arms until fully extended.</h1>
    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
<cite class="separator"></cite>

<h3 class="specificMuscles">III : Triceps</h3>
<p class="exercises">DB Skullcrushers</p>
<cite class="separator"></cite>
    <h1 class="exerciseSteps">1. Sit down on a flat bench with the dumbbells on your lap.</h1>
    <h1 class="exerciseSteps">2. Raise the dumbbells up to shoulder height by kicking your knees up.</h1>
    <h1 class="exerciseSteps">3. While holding the dumbbells in place, lie down on the bench with your arms fully extended and the weights directly above your shoulders.</h1>
    <h1 class="exerciseSteps">4. Lower the weights, bending your elbows until the dumbbells are positioned to the side of your head. Make sure your elbows stay in place and that you slow your descent as the weight approaches your head.</h1>
    <h1 class="exerciseSteps">5. Push the bar back up to starting position.</h1>
    <h1 class="exerciseSteps">6. Repeat for reps.</h1>
<cite class="separator"></cite>
<p class="exercises">Bench Dips</p>
<cite class="separator"></cite>
    <h1 class="exerciseSteps">1. Place a bench behind your back and hold on to its edge with your hands fully extended at around shoulder width. The legs will be extended forward while you're bent at the waist. This is your starting position.</h1>
    <h1 class="exerciseSteps">2. Slowly lower your body by bending at the elbows until your arms are close to a 90 degree angle. Keep you elbows as close as possible to your torso throughout the movement.</h1>
    <h1 class="exerciseSteps">3. Use your triceps to bring your torso up and back to the starting position.</h1>
    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
<cite class="separator"></cite>
<p class="exercises">DB Tricep Extensions</p>
<cite class="separator"></cite>
    <h1 class="exerciseSteps">1. Hold a dumbbell with both hands over head with arms fully extended.</h1>
    <h1 class="exerciseSteps">2. Lower the dumbbell in a circular motion behind the head until the forearms touch the biceps.</h1>
    <h1 class="exerciseSteps">3. Return to the starting position by flexing the triceps.</h1>
    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
<cite class="separator"></cite>


</body>
{% endblock %}
    