{% extends "base.html" %} {% block title %}Back{% endblock %} {% block content
    %}
<head>
<div class="title_bar">
    <div class="theme_canvas">
        <h3 class="page_title">Back</h3>
        <div class="page_subtitle">I : Lats</div>
        <div class="page_subtitle">II :Rhomboids</div>
        <div class="page_subtitle">III :Traps</div>
    </div>
</div>
</head>

<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>


<div class="muscle-container">
    <div class="muscle">
        <div class="muscle-heading footer-1">
            <h2>I : Lats</h2>
            <a href="#">DB Bicep Curls</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
              <cite class="separator"></cite>
            <a href="#">DB Hammer Curls</a>
                <cite class="separator"></cite>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                <cite class="separator"></cite>
            <a href="#">Chin Ups</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-2">
            <h2>II : Rhomboids</h2>
            <a href="#">DB Wrist Curls</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
              <cite class="separator"></cite>
            <a href="#">Wrist Roller</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
              <cite class="separator"></cite>
            <a href="#">DB Reverse Curl</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-3">
            <h2>III : Traps</h2>
            <a href="#">DB Skullcrushers</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
              <cite class="separator"></cite>
            <a href="#">Bench Dips</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
              <cite class="separator"></cite>
            <a href="#">DB Tricep Extensions</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
                  <h1 class="exerciseSteps"></h1>
              <cite class="separator"></cite>
        </div>
    </div>
</div>

</body>
{% endblock %}
    