{% extends "index.html" %} {% block title %}Back{% endblock %} {% block content
    %}
<head>
<div class="title_bar">
    <div class="theme_canvas">
        <h3 class="page_title">Back</h3>
        <div class="page_subtitle">I : Lats</div>
        <div class="page_subtitle">II : Rhomboids</div>
        <div class="page_subtitle">III : Traps</div>
    </div>
</div>
</head>

<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>


<div class="muscle-container">
    <div class="muscle">
        <div class="muscle-heading footer-1">
            <h2>I : Lats</h2>
            <a href="https://www.youtube.com/watch?v=u3gQT2aMVaI">Cable Lat Pulldown</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Sit on the pull down machine with knee pads adjusted to provide support, preventing your body from being pulled out of position.</h1>
                  <h1 class="exerciseSteps">2. Grip the pull down bar with a pronated grip slightly outside of shoulder width.</h1>
                  <h1 class="exerciseSteps">3. As you exhale, pull the bar down until it touches the upper chest.</h1>
                  <h1 class="exerciseSteps">4. Pause and squeeze the back muscles.</h1>
                  <h1 class="exerciseSteps">5. Slowly bring the bar back to the starting position with the lats fully stretched.</h1>
                  <h1 class="exerciseSteps">6. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=-koP10y1qZI">DB Row</a>
                <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Kneel over side of bench by placing knee and hand of supporting arm on bench.</h1>
                  <h1 class="exerciseSteps">2. Grab the dumbbell from the floor while keeping a straight back.</h1>
                  <h1 class="exerciseSteps">3. Flexing the core, keep head in neutral positon and pull the dumbbell towards your stomach.</h1>
                  <h1 class="exerciseSteps">4. Squeeze your back as you breath out at the top position.</h1>
                  <h1 class="exerciseSteps">5. Lower the dumbbell to the starting position.</h1>
                  <h1 class="exerciseSteps">6. Repeat for reps.</h1>
                <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=GZbfZ033f74">Seated Cable Row</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Grip the handle attachment with both hands and sit with chest upright and back straight.</h1>
                  <h1 class="exerciseSteps">2. With shoulders retracted, pull the handle towards the mid torso.</h1>
                  <h1 class="exerciseSteps">3. Squeeze the back muscles as the handle approaches the torso and hold before returning to the starting position.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-2">
            <h2>II : Rhomboids</h2>
            <a href="https://www.youtube.com/watch?v=rep-qVOkqgk">Face Pulls</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Secure band to object at head level and hold handles with arms extended in front.</h1>
                  <h1 class="exerciseSteps">2. Keeping elbows at shoulder height, pull handles towards the side of the head while exhaling.</h1>
                  <h1 class="exerciseSteps">3. Hold and return to starting position while exhaling.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=buuYPLVXsJg">DB Reverse Flys</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Adjust the bench so that it's at a 30 to 45 degree angle and lie down on the bench with your chest and torso pressing into the bench.</h1>
                  <h1 class="exerciseSteps">2. Hold a dumbbell on each hand and let your arms hang down with a slight bend at your elbows. This is your starting position.</h1>
                  <h1 class="exerciseSteps">3. Squeeze your shoulder blades together and move the weights out and away from each other to the side in an arc motion while exhaling.</h1>
                  <h1 class="exerciseSteps">4. Pause at the top when your arms are parallel to the floor, then return to the starting position.</h1>
                  <h1 class="exerciseSteps">5. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=9efgcAjQe7E">BB Rows</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Holding the barbell with a pronated grip, bend the legs and tilt the torso with a straight back.</h1>
                  <h1 class="exerciseSteps">2. Flexing the core, keep head in neutral position, pull the barbell towards your stomach.</h1>
                  <h1 class="exerciseSteps">3. Squeeze your back as you breath, return to the starting position.</h1>
                  <h1 class="exerciseSteps">4. Inhale and lower the barbell to the starting position.</h1>
                  <h1 class="exerciseSteps">5. Repeat for reps.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-3">
            <h2>III : Traps</h2>
            <a href="https://www.youtube.com/watch?v=cJRVVxmytaM">DB Shrugs</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Holding a dumbbell in each hand, stand with feet shoulder width apart, back straight and core braced.</h1>
                  <h1 class="exerciseSteps">2. While exhaling, contract the trap muscles and elevate the dumbbells.</h1>
                  <h1 class="exerciseSteps">3. Hold at the upper position and lower back to the starting position while exhaling.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=yPzAmmuH-H8">DB Lateral Raise</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Start with the dumbbells resting on the side of the thigh. The arms should be slightly bent.</h1>
                  <h1 class="exerciseSteps">2. Using your shoulder, lift the arm in a semi-circular motion until slightly above parallel.</h1>
                  <h1 class="exerciseSteps">3. Return to the starting position slowly while maintaining a tight core.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=IhZLB48kluc">DB Upright Row</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Hold dumbbells with arms at shoulder width and grip with a pronated girp.</h1>
                  <h1 class="exerciseSteps">2. Use shoulders to lift the dumbbells as you exhale.</h1>
                  <h1 class="exerciseSteps">3. Elbows should lead movement and our hands should be close to the body as it is elevated.</h1>
                  <h1 class="exerciseSteps">4. Continue to lift until hands are at your chin level. Hold at this position as you contract the shoulder muscles.</h1>
                  <h1 class="exerciseSteps">5. Lower to starting position.</h1>
                  <h1 class="exerciseSteps">6. Repeat for reps.</h1>
              <cite class="separator"></cite>
        </div>
    </div>
</div>

</body>
{% endblock %}
    