{% extends "base.html" %} {% block title %}Chest{% endblock %} {% block content
    %}
<head>
<div class="title_bar">
    <div class="theme_canvas">
        <h3 class="page_title">Chest</h3>
        <div class="page_subtitle">I : Upper Pecs</div>
        <div class="page_subtitle">II : Middle Pecs</div>
        <div class="page_subtitle">III : Lower Pecs</div>
    </div>
</div>
</head>

<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>


<div class="muscle-container">
    <div class="muscle">
        <div class="muscle-heading footer-1">
            <h2>I : Upper Pecs</h2>
            <a href="#">DB Incline Bench Press</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lie on the incline bench holding dumbbells with a shoulder width pronated grip.</h1>
                  <h1 class="exerciseSteps">2. Retract scapula and have elbows between 45 to 90 degree angle.</h1>
                  <h1 class="exerciseSteps">3. Breathe in and lower dumbbells to the middle chest.</h1>
                  <h1 class="exerciseSteps">4. After pausing at the bottom, push dumbbells towards the starting position, squeezing the chest.</h1>
                  <h1 class="exerciseSteps">5. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="#">Low Cable Flyes</a>
                <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. With the cables set below waist level, assume a staggered stance.</h1>
                  <h1 class="exerciseSteps">2. Allow your arms to hang slightly behind the body, palms facing forward. “Scoop” the handles up and inwards while rotating the arm such that your elbows are pointing to the sides at the top.</h1>
                  <h1 class="exerciseSteps">3. Squeeze your chest and drive the upper arm against the torso at the top for a strong contraction before slowly returning to the starting position.</h1>
                <cite class="separator"></cite>
            <a href="#">Weighted Dip</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Suspend yourself from the handles, brace your core, and depress your scapula.</h1>
                  <h1 class="exerciseSteps">2. Once you and the weight are still, descend slowly by bending at the elbows and allowing the upper arm to drift behind the torso.</h1>
                  <h1 class="exerciseSteps">3. When you feel a big stretch in the chest, press yourself back up while keeping your arms tucked to your sides.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-2">
            <h2>II : Middle Pecs</h2>
            <a href="#">Diamond Push-Ups</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Begin in a push-up position with a narrow grip.</h1>
                  <h1 class="exerciseSteps">2. Close your chest and lower your body.</h1>
                  <h1 class="exerciseSteps">3. Push yourself back to the beginning position with a hard contraction.</h1>
              <cite class="separator"></cite>
            <a href="#">Cable Crossover</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Select the resistance and draw the cable to the middle of your chest.</h1>
                  <h1 class="exerciseSteps">2. Move your arms outward in an arc until you feel a stretch in your chest. If you're moving your arms, make sure they're moving smoothly and without any needless jerks.</h1>
                  <h1 class="exerciseSteps">3. Hold for a time before returning to the starting position, squeezing your pectorals towards your chest's midline.</h1>
              <cite class="separator"></cite>
            <a href="#">Plate Press</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Place a weight plate on a flat bench and squeeze it with your open palms.</h1>
                  <h1 class="exerciseSteps">2. Lift the plate up and down, making sure the center of your chest is exactly aligned.</h1>
                  <h1 class="exerciseSteps">3. Squeeze hard to keep your chest contracted. The goal is to use slow, controlled movements with a lot of repetitions.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-3">
            <h2>III : Lower Pecs</h2>
            <a href="#">Decline Push-Up</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Kneel with a bench, box, or step behind you. Place your toes on the bench.</h1>
                  <h1 class="exerciseSteps">2. Walk out into the push-up position. Place your hands underneath your shoulders, squeeze your glutes, and screw your hands into the ground.</h1>
                  <h1 class="exerciseSteps">3. Slowly lower down until your chest is about an inch from the floor.</h1>
                  <h1 class="exerciseSteps">4. Drive your hands through the floor and lock out your elbows.</h1>
              <cite class="separator"></cite>
            <a href="#">Decline Bench Press</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lie face up on a decline bench with the feet secured to avoid sliding off the bench.</h1>
                  <h1 class="exerciseSteps">2. Get your eyes underneath the barbell, take a wider than shoulder-width grip, and set your shoulder blades together.</h1>
                  <h1 class="exerciseSteps">3. Allow the shoulder and elbow joints to bend as you lower into the bottom of the press, with the elbows underneath the barbell.</h1>
                  <h1 class="exerciseSteps">4. When in the bottom position, press the barbell back up to lockout position and repeat.</h1>
              <cite class="separator"></cite>
            <a href="#">Jackhammer Pushdown</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Stand in front of the cable machine and use the same handle as you would for a triceps pushdown machine.</h1>
                  <h1 class="exerciseSteps">2. Stand close to the machine with the cable over your shoulder, lean the torso forward and take a firm grip of the handle.</h1>
                  <h1 class="exerciseSteps">3. Let your elbows flare out. At the top of the movement and then push down to extend the elbows.</h1>
                  <h1 class="exerciseSteps">4. Slowly come back to the starting position by opening the chest and bringing the elbows out and up.</h1>
              <cite class="separator"></cite>
        </div>
    </div>
</div>

</body>
{% endblock %}
    