{% extends "index.html" %} {% block title %}Core{% endblock %} {% block content
    %}
<head>
<div class="title_bar">
    <div class="theme_canvas">
        <h3 class="page_title">Core</h3>
        <div class="page_subtitle">I : Obliques</div>
        <div class="page_subtitle">II : Upper Abs</div>
        <div class="page_subtitle">III : Lower Abs</div>
    </div>
</div>
</head>

<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>


<div class="muscle-container">
    <div class="muscle">
        <div class="muscle-heading footer-1">
            <h2>I : Obliques</h2>
            <a href="https://www.youtube.com/watch?v=NXr4Fw8q60o">Side Planks</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Start on your side with your feet stacked on top of each other and your bottom forearm directly below your shoulder.</h1>
                  <h1 class="exerciseSteps">2. Engage your core and raise your hips until your body is in a straight line from head to toe.</h1>
                  <h1 class="exerciseSteps">3. Hold this exact position without letting your hips drop for 30 seconds or more, then repeat on the other side.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=NZ1oOuj2L2k">Sit-Ups to Twist</a>
                <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lie on your back with your knees bent and feet flat to the floor.</h1>
                  <h1 class="exerciseSteps">2. Place your hands behind your head, engage your core and do a full sit-up. At the top of the sit-up, bring your right elbow to your left knee and twist your body toward that side.</h1>
                  <h1 class="exerciseSteps">3. Lower back down to start.</h1>
                  <h1 class="exerciseSteps">4. Repeat this movement alternating sides each time.</h1>
                <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=0unPIMwdm_A">Spidermans</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Start in a high plank, arms extended and your hands under your shoulders, with your core engaged.</h1>
                  <h1 class="exerciseSteps">2. Bring your left knee to your left elbow. Use your upper body to turn toward your knee to perform what looks like a side crunch.</h1>
                  <h1 class="exerciseSteps">3. Continue the movement, alternating sides.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-2">
            <h2>II : Upper Abs</h2>
            <a href="https://www.youtube.com/watch?v=BQCdzRPE9Ao">Hollow Hold</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lay on your back with arms extended overhead and legs pressed together.</h1>
                  <h1 class="exerciseSteps">2. Lift your legs and upper torso off the floor. Hold this position.</h1>
                  <h1 class="exerciseSteps">3. To perform the hollow rock, simply rock back and forth in this position, minimizing movement at the hip and shoulder joints.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=mIYuVpQF3N8">Ab Rollout</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Get on your knees and grip your equipment of choice with hands shoulder-width apart.</h1>
                  <h1 class="exerciseSteps">2. Extend your hips towards the floor and let your chest sink forward toward the ground without overarching your lower back.</h1>
                  <h1 class="exerciseSteps">3.  Squeeze the lat muscles and pull yourself back to the starting position.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=4aXeGl5Oraw">Dragonfly</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lie on your back and hold a sturdy pole, column, or bench behind you.</h1>
                  <h1 class="exerciseSteps">2. Lift your hips as you roll your weight on your shoulders. Then lift your legs and torso into a straight line, keeping your weight on your shoulders and upper back.</h1>
                  <h1 class="exerciseSteps">3. Slowly lower your legs towards the floor until they’re parallel, keeping your core and glutes engaged.</h1>
                  <h1 class="exerciseSteps">4. Pause for a few seconds and return to the starting position.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-3">
            <h2>III : Lower Abs</h2>
            <a href="https://www.youtube.com/watch?v=H3RK8D4bIKI">Heel tap</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lie faceup with your arms to your sides and hands against the floor. Bend your knees, keeping your calves parallel to the floor.</h1>
                  <h1 class="exerciseSteps">2. Slowly lower your flexed feet forward until your heels barely touch the floor.</h1>
                  <h1 class="exerciseSteps">3. Squeeze your abs to help raise your feet back up to the starting position.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=Wp4BlxcFTkE">Straight leg raise</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lie faceup with your arms to your sides and hands against the floor.</h1>
                  <h1 class="exerciseSteps">2. Brace your core and lift your straight legs slowly off the floor, bringing them to 90 degrees.</h1>
                  <h1 class="exerciseSteps">3. Slowly lower your legs back to the floor.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=ANVdMDaYRts">Flutter kick</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lie faceup with your legs extended, toes pointed, and hands tucked under your glutes to support your lower back.</h1>
                  <h1 class="exerciseSteps">2. Lift both legs a few inches off the floor.</h1>
                  <h1 class="exerciseSteps">3. Alternately kick your legs up and down.</h1>
              <cite class="separator"></cite>
        </div>
    </div>
</div>

</body>
{% endblock %}
    