{% extends "base.html" %} {% block title %}Glutes{% endblock %} {% block content
    %}
<head>
<div class="title_bar">
    <div class="theme_canvas">
        <h3 class="page_title">Glutes</h3>
    </div>
</div>
</head>

<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>


<div class="muscle-container">
    <div class="muscle">
        <div class="muscle-heading footer-1">
            <h2>I : Glutes</h2>
            <a href="#">Barbell Glute Bridge</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Load a barbell with rubber bumper plates (if possible), as you want the bar higher up off of the ground. Now, roll the barbell towards you, so it’s sitting on your hips.</h1>
                  <h1 class="exerciseSteps">2. Place your upper back on a bench and bend your knees with your feet flat on the floor.</h1>
                  <h1 class="exerciseSteps">3. Squeeze your glutes and drive your hips up, holding onto the barbell with both hands to prevent it from falling until your body is in a straight line from knee to chin.</h1>
                  <h1 class="exerciseSteps">4. Hold this position for a beat and then lower the weight back down.</h1>
                  <h1 class="exerciseSteps">5. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="#">Belt Squat</a>
                <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Set the belt around your hip, brace your core, and lift the weight.</h1>
                  <h1 class="exerciseSteps">2. Release the weight pin and get yourself into position.</h1>
                  <h1 class="exerciseSteps">3. With your chest up, squat down until the bottoms of your thighs are parallel to the floor.</h1>
                  <h1 class="exerciseSteps">4. Now, drive back up by pushing your feet through the platform.</h1>
                  <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                <cite class="separator"></cite>
            <a href="#">Rear Foot Elevated Split Squat</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Stand with a dumbbell in each hand, and take a step forward, placing one foot, toes down, on an elevated surface behind you.</h1>
                  <h1 class="exerciseSteps">2. It should be low enough to not shift your hips to one side. The distance of your step should be about one foot.</h1>
                  <h1 class="exerciseSteps">3. Keep your chest up and squat down until both of your legs bend to around 90 degrees.</h1>
                  <h1 class="exerciseSteps">4.  Stand back up by driving your front foot through the floor.</h1>
                  <h1 class="exerciseSteps">5. Repeat for reps.</h1>
              <cite class="separator"></cite>
        </div>
    </div>
</div>

</body>
{% endblock %}
    