{% extends "base.html" %} {% block title %}Legs{% endblock %} {% block content
    %}
<head>
<div class="title_bar">
    <div class="theme_canvas">
        <h3 class="page_title">Legs</h3>
        <div class="page_subtitle">I : Hamstrings</div>
        <div class="page_subtitle">II : Calves</div>
        <div class="page_subtitle">III : Quads</div>
    </div>
</div>
</head>

<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>


<div class="muscle-container">
    <div class="muscle">
        <div class="muscle-heading footer-1">
            <h2>I : Hamstrings</h2>
            <a href="#">DB Romanian Deadlift</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Stand up tall with one dumbbell in each hand, palms facing you.</h1>
                  <h1 class="exerciseSteps">2. Engage your abs, and hinge your hips back as you slowly lower the dumbbells toward the middle of your shins.</h1>
                  <h1 class="exerciseSteps">3. Stand back up, then squeeze your glutes at the top.</h1>
              <cite class="separator"></cite>
            <a href="#">Walking Lunges</a>
                <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Stand upright with your feet shoulder-width apart and your hands on your hips.</h1>
                  <h1 class="exerciseSteps">2. Step forward with your right leg, placing your foot down as if you were setting up a static lunge, flexing your knees (90°), and dropping your hips.</h1>
                  <h1 class="exerciseSteps">3. Lower your left knee toward the ground.</h1>
                  <h1 class="exerciseSteps">4. Just before it makes contact with the floor, drive up and forward through your right leg, stepping into a lunge on your other side.</h1>
                <cite class="separator"></cite>
            <a href="#">Rear-Foot Elevated Lunge</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Place your right foot on a bench or step, keeping your toes pointed, your foot flexed, and pressure penetrating the ball of your left foot [and the top of your right foot].</h1>
                  <h1 class="exerciseSteps">2. Once in position, descend under control until your right knee just about touches the floor and drive back up through your left leg to the starting position.</h1>
                  <h1 class="exerciseSteps">3. Make sure your back knee doesn’t collapse toward your body, and that your forward knee doesn’t slide past your toes.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-2">
            <h2>II : Calves</h2>
            <a href="#">Standing Calf Raises</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. With hands at the side, toes pointed forward and a straight knee.</h1>
                  <h1 class="exerciseSteps">2. Raise heels off the ground while pushing through the balls of feet. </h1>
                  <h1 class="exerciseSteps">3. Use control throughout the movement with a slight pause at the top of the contraction.</h1>
              <cite class="separator"></cite>
            <a href="#">Seated DB Calf Raise</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Place the weight plate on the floor. Sit at the end of a bench and rest your toes on top of the weight plate.</h1>
                  <h1 class="exerciseSteps">2. Put a dumbbell on your knee, holding the handle with your right hand while your left hand holds the top.</h1>
                  <h1 class="exerciseSteps">3. Raise your toes as high as you can without lifting them off the plate. Hold for a moment, lower your toes, and repeat.</h1>
              <cite class="separator"></cite>
            <a href="#">Farmer’s Walk (on Tiptoes)</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Pick up a pair of dumbbells or kettlebells and hold them at your sides.</h1>
                  <h1 class="exerciseSteps">2. Get on your tippy-toes and walk forward as fast as you can for as far as you can go, taking short steps.</h1>
                  <h1 class="exerciseSteps">3. Use a lighter weight to sustain balance and add more weight as you progress.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-3">
            <h2>III : Quads</h2>
            <a href="#">Hack Squat</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Your stance on the foot platform will closely mimic that of your back squat stance.</h1>
                  <h1 class="exerciseSteps">2. Your torso should be stable with your abdominals engaged and your lower back flat on the back pad.</h1>
                  <h1 class="exerciseSteps">3. Maintain a neutral head position as you lower your body until the bottoms of your thighs are parallel to the foot platform and drive through your heels to the top.</h1>
              <cite class="separator"></cite>
            <a href="#">Leg Press</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Place your feet on the sled of a leg press, matching your standard squat stance if possible.</h1>
                  <h1 class="exerciseSteps">2. Press the sled out of the rack, lower the safety bars, and then lower the sled towards your chest until your thighs break 90 degrees.</h1>
                  <h1 class="exerciseSteps">3. Press the sled back up. Do not lock out your knees fully at the top of the movement.</h1>
              <cite class="separator"></cite>
            <a href="#">Leg Extensions</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Adjust the back pad on the machine such that the back of your knee fits snugly against the edge of the seat.</h1>
                  <h1 class="exerciseSteps">2. Extend the knee to move the ankle pad, until your knee is fully straightened.</h1>
                  <h1 class="exerciseSteps">3. Lower the weight back down with control.</h1>
              <cite class="separator"></cite>
        </div>
    </div>
</div>

</body>
{% endblock %}
    