{% extends "index.html" %} {% block title %}Neck{% endblock %} {% block content
    %}
<head>
<div class="title_bar">
    <div class="theme_canvas">
        <h3 class="page_title">Neck</h3>
    </div>
</div>
</head>

<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>


<div class="muscle-container">
    <div class="muscle">
        <div class="muscle-heading footer-1">
            <h2>I : Neck</h2>
            <a href="https://www.youtube.com/watch?v=1v9e8PdmqEI">Chin Tuck</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Keeping the spine against the door jamb, pull the upper back and head backward until the head touches the door jamb.</h1>
                  <h1 class="exerciseSteps">2. It is important to make sure that the chin is down so that the head is pulled straight back and not looking up.</h1>
                  <h1 class="exerciseSteps">3. Hold the head against the door jamb for 5 seconds.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=hcTILl3cVkQ">Prone Cobra</a>
                <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lying face down, place the forehead on a rolled up hand towel for comfort.</h1>
                  <h1 class="exerciseSteps">2. Place the arms at the side, palms down on the floor.</h1>
                  <h1 class="exerciseSteps">3. Place the tongue on the roof of the mouth (this helps stabilize the muscles in the front of the neck to assist in strengthening).</h1>
                  <h1 class="exerciseSteps">4. Pinch the shoulder blades together and lift the hands off the floor. Roll the elbows in, palms out and thumbs up.</h1>
                  <h1 class="exerciseSteps">5. Gently lift the forehead about an inch off the towel keeping the eyes looking straight at the floor (do not tip the head back and look forward). Hold the position for 10 seconds.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                <cite class="separator"></cite>
            <a href="https://www.youtube.com/watch?v=7k_1Eak9SBo">Weighted Lying Neck Extension</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. With both hands, place plate(s) on back of head with towel placed in between for comfort.</h1>
                  <h1 class="exerciseSteps">2. Move head up by hyperextending neck up as high as possible.</h1>
                  <h1 class="exerciseSteps">3. Return by bending neck down until chin touches upper chest.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
        </div>
    </div>
</div>

</body>
{% endblock %}
    