{% extends "base.html" %} {% block title %}Shoulders{% endblock %} {% block content
    %}
<head>
<div class="title_bar">
    <div class="theme_canvas">
        <h3 class="page_title">Shoulders</h3>
        <div class="page_subtitle">I : Front Delts</div>
        <div class="page_subtitle">II : Middle Delts</div>
        <div class="page_subtitle">III : Rear Delts</div>
    </div>
</div>
</head>

<body style="background-color:rgb(26, 26, 26)">
<cite class="separator"></cite>


<div class="muscle-container">
    <div class="muscle">
        <div class="muscle-heading footer-1">
            <h2>I : Front Delts</h2>
            <a href="#">DB Overhead Press</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Grab a pair of dumbbells, and lift them up to the starting position at your shoulders.</h1>
                  <h1 class="exerciseSteps">2. Inhale and lightly brace your core. Press the dumbbells up to straight arms, while exhaling.</h1>
                  <h1 class="exerciseSteps">3. Inhale at the top, or while lowering the dumbbells with control back to your shoulders.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="#">DB Front Raises</a>
                <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Hold a pair of dumbbells in straight arms, in front of your body.</h1>
                  <h1 class="exerciseSteps">2. With control, lift the dumbbells forward with straight arms, until the dumbbells are at shoulder height.</h1>
                  <h1 class="exerciseSteps">3. Reverse the movement and lower the dumbbells with control.</h1>
                <cite class="separator"></cite>
            <a href="#">Incline DB Press</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Sit on a bench, and lift a pair of dumbbells up to the starting position.</h1>
                  <h1 class="exerciseSteps">2. Press the dumbbells up to straight arms, while exhaling.</h1>
                  <h1 class="exerciseSteps">3. Inhale at the top, or while lowering the dumbbells with control back to your shoulders.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-2">
            <h2>II : Middle Delts</h2>
            <a href="#">Standing Arnold Press</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Stand with feet hip-width apart, holding a pair of dumbbells just underneath your chin, with your palms facing you.</h1>
                  <h1 class="exerciseSteps">2. Press the dumbbells up and above your head, ensuring you turn your palms out as you do so. At the top of the movement, your palms should be facing away from you.</h1>
                  <h1 class="exerciseSteps">3. Lower the weights back down, turning your palms inward as you do so to return to the starting position.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="#">Shoulder Push-Up</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Assume a normal push-up position with your hands under your shoulders and arms straight. Push your hips up, but keep your hands and feet where they are so your body creates and angle.</h1>
                  <h1 class="exerciseSteps">2. Bend at the elbows and lower your head toward the floor, stopping once it grazes it.</h1>
                  <h1 class="exerciseSteps">3. Push back up through your arms to return to the starting position.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="#">Kettlebell Halo</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Hold a kettlebell in front of your chin with both hands gripped on it and your arms bent.</h1>
                  <h1 class="exerciseSteps">2. Bring the kettlebell around one side of your head, round the back and then around the other side until it returns to the front, in the starting position.</h1>
                  <h1 class="exerciseSteps">3. Repeat the movement, but starting on the other side this time. Keep alternating between reps.</h1>
              <cite class="separator"></cite>
        </div>
        <div class="muscle-heading muscle-3">
            <h2>III : Back Delts</h2>
            <a href="#">DB Incline Y-Raise</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Lie on the bench on your front awith your head over the top of the back rest.</h1>
                  <h1 class="exerciseSteps">2. Use your feet to support your weight on your toes, holding the dumbbells directly beneath your shoulders.</h1>
                  <h1 class="exerciseSteps">3. Slowly raise the dumbbells until they are over your head in a Y-shape.</h1>
                  <h1 class="exerciseSteps">4. As you perform this movement, engage your core and pull your shoulder blades forward.</h1>
                  <h1 class="exerciseSteps">5. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="#">DB Bent-Over Reverse Fly</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Use a neutral grip (palms facing each other). Use a square stance, with your feet about shoulder-width apart. Maintain a neutral neck position, and make sure the dumbbells are under your chest with your elbows slightly bent.</h1>
                  <h1 class="exerciseSteps">2. Raise your arms out to the side until they’re parallel to the ground. Move only at the shoulders.</h1>
                  <h1 class="exerciseSteps">3. Squeeze your upper-back muscles at the end position and hold for a second.</h1>
                  <h1 class="exerciseSteps">4. Repeat for reps.</h1>
              <cite class="separator"></cite>
            <a href="#">Wide Grip Inverted Row</a>
              <cite class="separator"></cite>
                  <h1 class="exerciseSteps">1. Rack a barbell at about, or slightly below, your waist height. A Smith machine barbell also works well.</h1>
                  <h1 class="exerciseSteps">2. Begin by lying face-up with the barbell directly above your chest and your heels together.</h1>
                  <h1 class="exerciseSteps">3. Grab the barbell wide enough so that there’s a 90-degree angle at your elbow at the end phase of the movement.</h1>
                  <h1 class="exerciseSteps">4. Keeping your elbows at shoulder level, pull yourself up until your sternum almost touches the bar. Aim to keep a straight line from head to ankles.</h1>
                  <h1 class="exerciseSteps">5. Drop slowly until your elbows are fully extended.</h1>
                  <h1 class="exerciseSteps">6. Repeat for reps.</h1>
              <cite class="separator"></cite>
        </div>
    </div>
</div>

</body>
{% endblock %}
    