{% extends "base.html" %} {% block title %}PLAN B{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Plan B</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>


<body>
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1 : Squat</h2>
                <a>5 SETS 5 REPS 60-90 SECOND REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Load a barbell on a rack at upper-chest height.</h1>
                      <h1 class="exerciseSteps">2. Step under the barbell so that it rests on the back of your shoulders, and grasp the bar at each side.</h1>
                      <h1 class="exerciseSteps">3. Dismount the barbell and step backward carefully. Your feet should be shoulder-width apart and pointing slightly outwards.</h1>
                      <h1 class="exerciseSteps">4. Inhale as you squat down by simultaneously pushing your butt backward and bending your knees forward. Keep your torso upright, and descend at least until your knees are bent at a 90-degree angle.</h1>
                      <h1 class="exerciseSteps">5. Exhale as you push your body back up to the starting position, driving through your heels and keeping your torso upright.</h1>
                      <h1 class="exerciseSteps">6. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2 : Overhead Press</h2>
                <a>5 SETS 5 REPS 60-90 SECOND REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Stand with feet shoulder-width apart and hold the dumbbells/barbell at shoulder height with your elbows at a 90-degree angle.</h1>
                      <h1 class="exerciseSteps">2. Slowly lift the dumbbells/barbell above your head without fully straightening your arms. Pause at the top.</h1>
                      <h1 class="exerciseSteps">3. Slowly return to the start position.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 3 : Deadlift</h2>
                <a>1 SETS 5 REPS 60-90 SECOND REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Stand with your mid-foot under the barbell</h1>
                      <h1 class="exerciseSteps">2. Bend over and grab the bar with a shoulder-width grip</h1>
                      <h1 class="exerciseSteps">3. Bend your knees until your shins touch the bar</h1>
                      <h1 class="exerciseSteps">4. Lift your chest up and straighten your lower back</h1>
                      <h1 class="exerciseSteps">5. Take a big breath, hold it, and stand up with the weight</h1>
                  <cite class="separator"></cite>
            </div>
         
        </div>
    </div>
</body>


{% endblock %}
            