{% extends "index.html" %} {% block title %}PLAN A{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Plan A</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>


<body>
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1 : Squat</h2>
                <a>5 SETS 5 REPS 60-90 SECOND REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Load a barbell on a rack at upper-chest height.</h1>
                      <h1 class="exerciseSteps">2. Step under the barbell so that it rests on the back of your shoulders, and grasp the bar at each side.</h1>
                      <h1 class="exerciseSteps">3. Dismount the barbell and step backward carefully. Your feet should be shoulder-width apart and pointing slightly outwards.</h1>
                      <h1 class="exerciseSteps">4. Inhale as you squat down by simultaneously pushing your butt backward and bending your knees forward. Keep your torso upright, and descend at least until your knees are bent at a 90-degree angle.</h1>
                      <h1 class="exerciseSteps">5. Exhale as you push your body back up to the starting position, driving through your heels and keeping your torso upright.</h1>
                      <h1 class="exerciseSteps">6. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2 : Bench Press</h2>
                <a>5 SETS 5 REPS 60-90 SECOND REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Hold the weight directly over the shoulders, arms slightly wider than shoulder height.</h1>
                      <h1 class="exerciseSteps">2. Push the weight up until your arms are angled at 45 degrees at the top.</h1>
                      <h1 class="exerciseSteps">3. Slowly lower the weight back down to chest height, elbows out to the sides.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 3 : Bent Over Row</h2>
                <a>5 SETS 5 REPS 60-90 SECOND REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Grab a set of dumbbells or barbell, bend your torso forward and keep your knees slightly bent.</h1>
                      <h1 class="exerciseSteps">2. Pull the dumbbells toward your waistline, while squeezing your shoulder blades</h1>
                      <h1 class="exerciseSteps">3. Slowly lower the weights to the starting position. A 1-second pull, 1-second pause, 2 second down count is ideal.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
            </div>
        
        </div>
    </div>
</body>


{% endblock %}
        