{% extends "base.html" %} {% block title %}5x5{% endblock %} {% block content
%}

<head>
    <div class="title_bar">
        <div class="theme_canvas">
            <h3 class="page_title">Push</h3>
            <div class="page_subtitle">Equipment necessary: Dumbbells OR Barbell with plates, flat surface to lay on, Full Gym</div>
        </div>
    </div>
</head>

<body>
    <div class="muscle-container">
        <div class="muscle">
            <div class="muscle-heading footer-1">
                <h2>Exercise 1 : Bench Press</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Hold the weight directly over the shoulders, arms slightly wider than shoulder height.</h1>
                    <h1 class="exerciseSteps">2. Push the weight up until your arms are angled at 45 degrees at the top.</h1>
                    <h1 class="exerciseSteps">3. Slowly lower the weight back down to chest height, elbows out to the sides.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 2 : Overhead Press</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                    <h1 class="exerciseSteps">1. Stand with feet shoulder-width apart and hold the dumbbells/barbell at shoulder height with your elbows at a 90-degree angle.</h1>
                    <h1 class="exerciseSteps">2. Slowly lift the dumbbells/barbell above your head without fully straightening your arms. Pause at the top.</h1>
                    <h1 class="exerciseSteps">3. Slowly return to the start position.</h1>
                    <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 3 : Incline Bench Press</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                        <h1 class="exerciseSteps">1. Hold the weight directly over the shoulders, arms slightly wider than shoulder height.</h1>
                        <h1 class="exerciseSteps">2. Push the weight up until your arms are angled at 45 degrees at the top.</h1>
                        <h1 class="exerciseSteps">3. Slowly lower the weight back down to chest height, elbows out to the sides.</h1>
                        <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 4 : Pec Dec Fly</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Sit up tall and relax your neck and shoulders. Your feet should be flat on the floor.</h1>
                      <h1 class="exerciseSteps">2. Grab the handles so that your palms are facing forward. Note that some machines have a foot bar that you need to push in order to release the handles and bring them forward.</h1>
                      <h1 class="exerciseSteps">3. Press your arms together in front of your chest with a slow, controlled movement. Keep a slight, soft bend in the elbows with wrists relaxed.</h1>
                      <h1 class="exerciseSteps">4. Pause for one second once your arms are fully "closed" in front of your chest.</h1>
                      <h1 class="exerciseSteps">5. Bring your arms slowly back to the starting position, opening your chest and keeping posture strong and upright.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 5 : Deadlift</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Stand with your feet just less than shoulder-width apart and your knees bent. Hold a pair of light dumbbells with your palms facing each other. Keeping your abs drawn in, bend forward at the waist until your back is parallel to the floor.</h1>
                      <h1 class="exerciseSteps">2. Slowly raise your arms up and out to your sides, then pause for a second at the top of your range of motion. Squeeze your shoulder blades together.</h1>
                      <h1 class="exerciseSteps">3. Slowly lower the weight to the starting position.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 6 : Dumbbell Front Raise</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Grab two dumbbells and stand up straight. The dumbbells should be in front of your thighs with your hands facing down. This is the starting position.</h1>
                      <h1 class="exerciseSteps">2. While keeping your torso stationary, lift the dumbbells to the front. Your elbows should be slightly bent. Lift the dumbbells up until your arms are slightly above the level where they would be parallel to the floor. Exhale as you do so, and pause for a second when you get to the top.</h1>
                      <h1 class="exerciseSteps">3. Lower the dumbbells back to the starting position, inhaling as you do so.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 7 : Tricep Dips</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Place your hands behind you onto a chair, so that your fingers face forward.</h1>
                      <h1 class="exerciseSteps">2. Extend your legs and start bending your elbows.</h1>
                      <h1 class="exerciseSteps">3. Lower your body until your arms are at a 90-degree angle.</h1>
                      <h1 class="exerciseSteps">4. Lift your body back up until your arms are straight.</h1>
                      <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 8 : Pushdowns</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Start by bracing your abdominals.</h1>
                      <h1 class="exerciseSteps">2. Tuck your elbows in at your sides and position your feet slightly apart.</h1>
                      <h1 class="exerciseSteps">3. Inhale. Push down until your elbows are fully extended but not yet in the straight, locked position. Keep your elbows close to your body and bend your knees slightly on the pushdown. Resist bending forward. Try to keep your back as straight as possible as you push down.</h1>
                      <h1 class="exerciseSteps">4. As you exhale, return to the starting point using a controlled movement.</h1>
                      <h1 class="exerciseSteps">5. Repeat for reps.</h1>
                  <cite class="separator"></cite>
                <h2>Exercise 9 : Cable Tricep Kickback</h2>
                <a>4 SETS (12, 10, 8, 6 REPS) 45-60 SECONDS REST</a>
                  <cite class="separator"></cite>
                      <h1 class="exerciseSteps">1. Keeping your upper arm fixed, exhale as you extend your elbow until it is fully extended.</h1>
                      <h1 class="exerciseSteps">2. Hold for a count of two.</h1>
                      <h1 class="exerciseSteps">3. Inhale as you flex your elbow and return the cable to the starting position.</h1>
                      <h1 class="exerciseSteps">4. Repeat for reps.</h1>
                  <cite class="separator"></cite>
            </div>
        </div>
    </div>
</body>




<footer >
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Leadership</a>
                <a href="#">Team</a>
                <a href="#">Investors</a>
                <a href="#">Terms of Service</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>Contact</h2>
                <a href="#">E-mail</a>
                <a href="#">Phone</a>
                <a href="#">Fax</a>
            </div>
            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
                            